<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User form</title>
</head>
<body>
<h2>Add a New user</h2>
<form action="/new-user" method="post">
  <input type="text" name="name" placeholder="Imię" required>
  <input type="text" name="surname" placeholder="Nazwisko" required>
  <button type="submit">Add</button>
</form>
</body>
</html>